* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    width: 100%;
    /* background-color: red; */
}

.infocard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}