.searchbar-container {
    max-width: 345px;
}

.searchbar-textfield .MuiOutlinedInput-root {
    margin: 10px auto;
    border: 1px solid #A3A3A3;
    border-radius: 16px !important;
}

.searchbar-input .MuiOutlinedInput-input {
    height: 6px;
    font-size: 16px;
    color: #4E4E4E;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
