
.send-confirm-dash-header{
  background-color: white;
  height: 2.5rem; 
  margin-top: 1.5%;
  margin-left: 9.5%;
  margin-bottom: 1.5%;
  border-radius: 0.5rem; 
  padding: 0.5rem 0; 
  font-size: 1.2rem;
  font-weight: bolder;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); 
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.SendEmpToTrain-addTraining{
  margin-left: 100px;
  width: 90% !important;
}

.training-search-bar-cont{
  margin-left: 10%;
  height: 40px;
}

.overall-send-confirm-table-container{
  width: 83% !important;
  overflow-x: auto; 
  margin-top: 30px !important;
  margin-left: 140px !important; 
  border-radius: 15px;
  box-sizing: border-box; 
  margin: 0 auto; 
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.send-confirm-table-container{
  width: 100% !important;
  overflow-x: auto; 
  margin-top: 30px !important;
  margin-left: 2px !important; 
  border-radius: 15px;
  box-sizing: border-box; 
  margin: 0 auto; 
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}