.employee-training-enrolled-page {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  width: calc(100vw - 150px);
  margin-left: 100px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.employee-training-enrolled-title {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5px;
  margin-left: 4%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  width: 92% ;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.employee-training-enrolled-header {
  background-color: white;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 5px 0 !important;
  font-size: 17px;
  font-weight: bolder;
  margin-left: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 97% !important;
  margin-top: 20px !important;
  display: flex;
  align-items: center;
}

.TableComponent-container {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 92%;
  overflow-x: auto;
  margin-left: 47px;
  background-color: white;
  padding-bottom: 50px;
}

.employee-save-feedback-button {
  font-size: 15px;
  width: 100px;
  background-color: #0061a1;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 89%;
  box-sizing: border-box;
}

.employee-save-feedback-button:hover {
  background-color: #0056b3;
}

.trainer-feedback-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.trainer-feedback-button {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.trainer-feedback-button.pass {
  background-color: green;
  color: white;
}

.trainer-feedback-button.fail {
  background-color: red;
  color: white;
}

.feedback-button:hover {
  opacity: 0.8;
}

.select-all-buttons {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 10px;
  margin-right: 1%;
}

.select-all-buttons button {
  padding: 10px 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Inter', sans-serif;
  width: 150px;
  background-color: #0061a1;
  color: white;
}

.select-all-buttons button:hover {
  background-color: #0056b3;
}

.enrolled-TableComponent-scrollbar {
  max-width: 92%;
  overflow-x: auto;
  margin-left: 5%;
}
