.trainerSwitch-training-content {
  margin-left: 8%;
  padding: 5px;
  width: 80vw;
}

.trainerSwitch-dash-header{
  background-color: white;
  height: 2.5rem; /* Replaced 30px */
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border-radius: 0.5rem; /* Replaced 8px */
  padding: 0.5rem 0; /* Replaced padding-top and padding-bottom */
  font-size: 1.2rem; /* Replaced 17px */
  font-weight: bolder;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); /* Replaced 2px and 10px */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.trainerSwitch-search-bar-container {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
    display: flex;
    justify-content: flex-start;
}

.trainerSwitch-table-container {
    width: 100% ;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 1.5%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #0061A1; 
    font-size: 20px; 
    transition: color 0.3s ease;
  }

  .status-bubble.ongoing {
    background-color: #fffac0; 
    color: #000; 
  }
  
  .status-bubble.completed {
    background-color: #c9fcca; 
    color: black; 
  }
  
  .status-bubble.upcoming {
    background-color: #cde9ff; 
    color: #000;
  }

  .trainerSwitch-tickets {
    display: flex;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    gap: 1.5%;
    margin-right: 10%;
  }
  
  .ticket {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 200px;
  height: 50px;
  margin: 0;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: white;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  position: relative; /* Ensures proper stacking context */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .ticket:hover {
    transform: scale(1.05);
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 900px;
    width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.close-button{
  margin-top:10px;
  width: 100px;
  margin-left: 800px;
}