.TrainerAttendance-container {
  width: 80vw !important;
  margin-left: 95px !important;
}

.trainerattendance-title{
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5px;
  margin-left: 0%;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  width: 100% ;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.trainerattendance-tablecomponent-container {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  overflow-x: auto;
  background-color: white;
  
} 

.trainerattendance-header-and-save{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.trainerattendance-header {
  background-color: white;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 8px;
  padding-top: 5px !important;
  padding-bottom: 5px;
  padding-left: 0px;
  font-size: 17px;
  font-weight: bolder;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-top: 0px !important;
  display: flex;
  flex-direction: row;
}

.trainer-attendance-back-button {
  margin-left: 1%;
  margin-top: 0.2%;
  font-size: 22px;
  color:#0d6efd ;
}

.trainer-attendance-back-button:hover{
  color: #0061A1;
  cursor: pointer;
}

.trainer-attendance-title{
  margin-left: 1%;
}

.TrainerAttendance-save-button {
  background-color:  #0061A1; 
  color: white;
  padding-top: 6px !important;
  height: 55px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box; 
  width: 110px;
}

.TrainerAttendance-save-button:hover {
  background-color: #0056b3;
}

.TrainerViewAttendance-edit-button{
  background-color:  #0061A1; 
  color: white;
  padding-top: 6px !important;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box; 
  width: 110px;
  margin-left: 70vw;
}

.TrainerViewAttendance-edit-button:hover{
  background-color: #0056b3;
}

.TableComponent-scrollbar {
  max-width: 90%;
  overflow-x: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 20px;
  margin-left: 38px;
}

.TrainerEditAttendance-table {
  width: 100%;
  border-collapse: collapse;
}

.TableComponent-headerCell {
  font-weight: bold;
  background-color: #ffffff;
  color: #002773;
  font-size: 16px;
  text-align: center;
  padding: 14px;
}

.TableComponent-cell {
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 14px;
}

.TableComponent-row {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.TableComponent-presentRow {
  background-color: #d4edda;
  color: #155724;
}

.TableComponent-absentRow {
  background-color: #f8d7da;
  color: #721c24;
}

.TableComponent-row:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.TableComponent-presentRow:hover {
  background-color: #d4edda; 
}

.TableComponent-absentRow:hover {
  background-color: #f8d7da; 
}
